body {
  font-family: sans-serif;
  /* background-color: #315481; */
  /* background-image: linear-gradient(to bottom, #315481, #918e82 100%); */
  background-attachment: fixed;
  padding:20px;
  /* text-align: center; */
 
  /* position: absolute; */

 
 
  font-size: 14px;
}
 

li.checked {
  color: #888;

}



li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}