
<body>
 
  {{> displayTask}}
  <br/>
  <!-- {{> task}} -->
  <h1> Please Add New Project </h1>
  {{> addEvent}}
</body>

<template name="addEvent">
    <div>
        {{> React component= AddEvent}}
    </div>
</template>

<template name="displayTask">
    <div>
        {{> React component= DisplayTask}}
    </div>
</template>