.main{
    display: flex;
    flex-Direction: row;
    flex-Wrap:wrap;
    justify-Content: space-evenly;
}

.card{
    width:20%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
    /* border-radius: 10px; */
    
}

.cardFooter{
    padding: 0px;
}

.cardBody{
    text-align: center;
}


.label{
    margin-right: 7px;
}

.input-project{
    margin-right: 4px;
}