<body>
  <div class="container">
    <header>
      <h1>Todo List</h1>
    </header>
    <form class="new-task">
      <input style="margin:0px 10px 0px 0px" type="text" name="text" placeholder="Type to add new tasks" />
      <!-- <label for="cars">Assign to Project</label>   -->
      {{> projectSelect}}
      <button type="submit">Add Task</button>   

    </form>

    <ul style="text-align: left;">
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
</body>

