<template name="task">
  
  
    <li class="{{#if checked}}checked{{/if}}">
      <button class="delete">❌</button>
  
      <input  type="checkbox" checked="{{checked}}" class="toggle-checked" />
  
      <span class="text">{{text}}</span>
      <span class="project">  <b>Project Name:</b> {{projectName}}</span>

    </li>
  </template>


  <template name="projectSelect">
    <select class="event-checked" id="projectName">
        <option disabled="disabled" selected="selected" value="none">Select Any Project</option>
            {{#each projects}}
                <option value="{{projectName}}">{{projectName}}</option>
            {{/each}}
        <!-- {{> displayData}} -->
    </select>

</template>